<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./../style/reset.css">
        <link rel="stylesheet" href="./../style/login.css">
        <script src="./../javascript/login.js"></script>
        <title>LogIn</title>
    </head>
    <body>
        <header>
            <div class="first-title">
                    <a href="./index.html"><h1>Trackgenix</h1></a>
                <img src="./../assets/logo-radium.png">
            </div>
        </header>
        <main>
            <div class="login-father">
                <div class="title-login">
                    <h2>Log In</h2>
                </div>
                <form action="" class="form-login">
                    <div class="form-inputs">
                        <div>
                            <input type="text" id="mail" class="input-mail" placeholder="Email">
                            <label class="email-green">Correct</label>
                            <label class="email-red">Wrong email</label>
                        </div>
                        <div>
                            <input type="password" id="password" class="input-password" placeholder="Password">
                            <label class="password-green">Correct</label>
                            <label class="password-red">Wrong password</label>
                        </div>
                    </div>
                    <div class="button-continue">
                        <div class="check-remember">
                            <input type="checkbox">
                            <h3>Remember me</h3>
                        </div>
                        <button type="submit">
                            <h3>Continue</h3>
                        </button>
                        <a class="question-child" href="#">Forgot password?</a>
                    </div>
                </form>
                <div class="message-form">
                    <h3 class="message-correct">Correct information</h3>
                    <h3 class="message-incorrect">incorrect information</h3>
                </div>
                <div class="access-signup">
                    <h3>Don't have an account?</h3>
                    <a href="./sign-up.html">Sign Up now</a>
                </div>
            </div>
            <div class="emergent">
                <div>
                    <h3>Email: </h3>
                    <h3 id="date-email"></h3>
                </div>
                <div>
                    <h3>Password: </h3>
                    <h3 id="date-password"></h3>
                </div>
                <div class="routes">
                    <a href="./index.html"><h2>Home</h2></a>
                    <a href="./login.html"><h2>Log In</h2></a>
                </div>
                <button id="exit-emer">
                    <h3>Exit</h3>
                </button>
        </main>
    </body>
</html>