<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./../style/reset.css">
        <link rel="stylesheet" href="./../style/login.css">
        <script src="./../javascript/login.js"></script>
        <title>LogIn</title>
    </head>
    <body>
        <header>
            <div class="first-title">
                    <a href="./index.html"><h1>Trackgenix</h1></a>
                <img src="./../assets/logo-radium.png">
            </div>
        </header>
        <main>
            <div class="login-father">
                <div class="title-login">
                    <h2>Log In</h2>
                </div>
                <form action="" class="form-login" onsubmit="checkValidations()">
                    <div class="form-inputs">
                        <input type="text" id="mail" class="input-mail" placeholder="Email" onblur="checkEmail()" onfocus="fixingup()">
                        <h3 class="message-mailgreen">Correct</h3>
                        <h3 class="message-mailred">Wrong email</h3>
                        <input type="password" id="password" class="input-password" placeholder="Password" onblur="checkPass()" onfocus="fixingupPass()">
                        <h3 class="message-passgreen">Correct</h3>
                        <h3 class="message-passred">Wrong password</h3>
                    </div>
                    <div class="button-continue">
                        <div class="check-remember">
                            <input type="checkbox">
                            <h3>Remember me</h3>
                        </div>
                        <button type="submit">
                            <h3>Continue</h3>
                        </button>
                        <a class="question-child" href="#">Forgot password?</a>
                    </div>
                </form>
                <div class="message-form">
                    <h3 class="message-correct">Correct information</h3>
                    <h3 class="message-incorrect">incorrect information</h3>
                </div>
                <div class="access-signup">
                    <h3>Don't have an account?</h3>
                    <a href="./sign-up.html">Sign Up now</a>
                </div>
            </div>
        </main>
    </body>
</html>