<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./../style/reset.css">
        <link rel="stylesheet" href="./../style/signup.css">
        <script src="./../javascript/sign-up.js"></script>
        <title>Sign Up</title>
    </head>
    <body>
        <header>
            <div class="first-title">
                    <a href="./index.html"><h1>Trackgenix</h1></a>
                <img src="./../assets/logo-radium.png">
            </div>
        </header>
        <main>
            <div class="login-father">
                    <h2>Sign Up</h2>
                    <form action="" id="form-sign" class="form-signup">
                        <div>
                            <input type="text" class="input-name" placeholder="Name" id="name">
                            <label class="name-red">Must only have more than 3 letters</label>
                            <label class="name-red-second">Must not contain spaces and symbols</label>
                            <label class="name-green">Correct</label>
                        </div>
                        <div>
                            <input type="text" id="lastName" class="input-lastname" placeholder="Last name">
                            <label class="lastname-red">Must only have more than 3 letters</label>
                            <label class="lasname-red-second">No symbols</label>
                            <label class="lastname-green">Correct</label>
                        </div>
                        <div>
                            <input type="text" id="dni" class="input-dni" placeholder="Dni">
                            <label class="dni-red">it has to have between 7 or 8 numbers</label>
                            <label class="dni-red-second">must not have spaces and symbols</label>
                            <label class="dni-green">Correct</label>
                        </div>
                        <div>
                            <input type="date" id="date" class="input-date" placeholder="Date of birth">
                            <label class="date-red">Correctly fill in the date</label>
                            <label class="date-green">Correct</label>
                        </div>
                        <div>
                            <input type="text" id="tel" class="input-tel" placeholder="Telephone">
                            <label class="tel-red">Must be at least 10 digits</label>
                            <label class="tel-red-second">Must not have space and symbols</label>
                            <label class="tel-green">Correct</label>
                        </div>
                        <div>
                            <input type="text" id="address" class="input-address" placeholder="Address">
                            <label class="address-red">5 characters with numbers or letters</label>
                            <label class="address-red-second">no symbol and do not use more than one space</label>
                            <label class="address-green">Correct</label>
                        </div>
                        <div>
                            <input type="text" id="location" class="input-location" placeholder="Location">
                            <label class="location-red">Must contain more than 3 letters</label>
                            <label class="location-red-second">no symbols and just a space</label>
                            <label class="location-green">Correct</label>
                        </div>
                        <div>
                            <input type="text" id="code" class="input-code" placeholder="Postal Code">
                            <label class="code-red">only numbers and 4 or 5 digits</label>
                            <label class="code-red-second">no symbols and just a space</label>
                            <label class="code-green">Correct</label>
                        </div>
                        <div>
                            <input type="text" id="mail" class="input-mail" placeholder="Email">
                            <label class="mail-red">Contain a minimum of 4 letters, without spaces and without symbols</label>
                            <label class="mail-red-second">Valid email format</label>
                            <label class="mail-green">Correct</label>
                        </div>
                        <div>
                            <input type="password" id="password" class="input-password" placeholder="Password">
                            <label class="password-red">At least 8 characters for letters and numbers.</label>
                            <label class="password-red-second">Must not have spaces and symbols</label>
                            <label class="password-green">Correct</label>
                        </div>
                        <div>
                            <input type="password" id="repet" class="input-repet" placeholder="Repeat password">
                            <label class="repet-red">Both passwords must be the same</label>
                            <label class="repet-green">Correct</label>
                        </div>
                        <div class="button-continue">
                            <button type="submit">
                                <h3>Create</h3>
                            </button>
                        </div>
                        <div class="login-access">
                            <h3>Don't have an account?</h3>
                            <a href="./login.html">Log In now</a>
                        </div>
                    </form>
            </div>
            <div class="emergent">
                <div>
                    <h3>Name:</h3>
                    <h3 id="name-datum">datum</h3>
                </div>
                <div>
                    <h3>Last name:</h3>
                    <h3 id="lastname-datum">datum</h3>
                </div>
                <div>
                    <h3>DNI:</h3>
                    <h3 id="dni-datum">datum</h3>
                </div>
                <div>
                    <h3>Date of birth:</h3>
                    <h3 id="date-datum">datum</h3>
                </div>
                <div>
                    <h3>Telephone:</h3>
                    <h3 id="tel-datum">datum</h3>
                </div>
                <div>
                    <h3>Address:</h3>
                    <h3 id="address-datum">datum</h3>
                </div>
                <div>
                    <h3>Location:</h3>
                    <h3 id="location-datum">datum</h3>
                </div>
                <div>
                    <h3>Postal Code:</h3>
                    <h3 id="code-datum">datum</h3>
                </div>
                <div>
                    <h3>Email:</h3>
                    <h3 id="mail-datum">datum</h3>
                </div>
                <div>
                    <h3>Password:</h3>
                    <h3 id="password-datum">datum</h3>
                </div>
                <div>
                    <h3>Repet Password:</h3>
                    <h3 id="repet-datum">datum</h3>
                </div>
                <div class="routes">
                    <a href="./index.html"><h2>Home</h2></a>
                    <a href="./login.html"><h2>Log In</h2></a>
                </div>
                <button id="exit-emer">
                    <img src="./../assets/exit-emergent.png" alt="">
                </button>
            </div>
        </main>
    </body>
</html>