@media screen and (min-width: 481px) {
    .container-data {
        display: flex;
        text-align: center;
    }

    .data {
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 1024px) {
    footer {
        float: right;
        width: 75%;
    }
}