aside {
    display: none;
}

@media screen and (min-width: 1024px) {
    aside {
        display: flex;
        flex-direction: column;
        float: right;
        position: fixed;
        width: 25%;
        height: 100%;
        background-color: #DCDADA;
    }
  
    aside form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 60px;
        background-color: #EBEBEB;
    }
  
    aside form input {
        width: 80%;
    }

    .label-menu {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 400;
        font-size: 45px;
        line-height: 75px;
        margin-left: 10px;
        border-bottom: 3px solid #AACE9B;
    }

    .checkin {
        margin: 20px;
        border-bottom: 3px solid #AACE9B;
    }

    .information-contact {
        margin: 10px;
        border-bottom: 3px solid #AACE9B;
    }

    .information-contact label {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 500;
        font-size: 26px;
        line-height: 47px;
    }

    .text-information {
        margin: 15px;
        font-size: 16px;
    }

    .mail-contact {
        margin: 10px;
        margin-bottom: 5px;
        height: 30px;
        border-bottom: 3px solid #AACE9B;
    }

    .mail-contact img {
        float: left;
        width: 30px;
        height: 20px;
    }

    .mail-contact a {
        margin-left: 5px;
        font-family: 'Roboto Slab';
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: black;
    }

    .telefono-contact {
        margin: 10px;
        height: 40px;
        border-bottom: 3px solid #AACE9B;
    }
    
    .telefono-contact label {
        font-family: 'Roboto Slab';
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
    }

    .direction-contact {
        margin: 10px;
        border-bottom: 3px solid #AACE9B;
        height: 60px;
    }
    
    .direction-contact img {
        float: left;
        width: 30px;
        height: 30px;
    }
    
    .direction-contact label {
        font-family: 'Roboto Slab';
        font-weight: 500;
        font-size: 17px;
        line-height: 25px;
    }
 }
 