  h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
     color: #373867;
 }

 h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 37px;
    line-height: 59px;
 }
  
 h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 59px;
 }

 h4 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 41px;
 }
 
 h6 {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    color: #958888;
 }

/* header */

 .div-title {
    box-shadow: 0px 8px 16px rgba(50, 50, 71, 0.06);
 }

/* main */

main {
    width: 100%;
}

 main section div {
    width: 81%;
 }
  
 .parent-container {
    border-bottom: 3px solid rgb(170, 206, 155);
 }
  
 p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 25px;
    color: rgb(149, 136, 136);
 }
  
 a {
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: rgb(149, 136, 136);
 }
  
 .first-child, .last-child {
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #373867;
 }
  
 .parent-container span {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #34636E;
 }
  
 article form, article div {
    width: 81%;
 }

 .last-history {
    border-bottom: 3px solid rgb(170, 206, 155);
 }

 .lockers h4, .lockers label {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
 }

/* footer */

.container-data {
    margin-bottom: 10px;
     width: 81%;
     border-bottom: 3px solid rgb(170, 206, 155);
 }