aside {
    display: none;
}

@media screen and (min-width: 1024px) {
    aside {
        display: flex;
        flex-direction: column;
        float: right;
        position: fixed;
        width: 25%;
    }
  
    aside form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 60px;
    }
  
    aside form input {
        width: 80%;
    }
 }
 