<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./../style/reset.css">
        <link rel="stylesheet" href="./../style/style.css">
        <link rel="stylesheet" href="./../style/header.css">
        <link rel="stylesheet" href="./../style/sidebar.css">
        <link rel="stylesheet" href="./../style/main.css">
        <link rel="stylesheet" href="./../style/footer.css">
        <title>Trackgenix</title>
    </head>
    <body>
    <header>
        <div class="first-title">
                <h1>Trackgenix</h1>
            <img src="./../assets/logo-radium.png">
        </div>
    </header>
    <aside>
        <form>
            <input type="search" placeholder="search">
        </form>
        <div class="menu">
            <label class="label-menu">Menu</label>
        </div>
        <div>
            <div class="checkin">
                <label class="label"><a href="#">Home</a></label>
            </div>
            <div class="checkin">
                <label class="label"><a href="#">Sign Up</a></label>
            </div>
            <div class="checkin">
                <label class="label"><a href="#">Log In</a></label>
            </div>
        </div>
        <div class="contact">
            <div class="information-contact">
                <label>Contact information</label>
            </div>
            <p class="text-information">
                Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius
                enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum.
                Sed nulla amet lorem feugiat tempus aliquam.
            </p>
            <div class="mail-contact">
                <img src="./../assets/logo-mail.png">
                <a href="#">information@untitled.tld</a>
            </div>
            <div class="telefono-contact">
                <label>(000) 000-0000</label>
            </div>
            <div class="direction-contact">
                <img src="./../assets/logo-house.png">
                <label>1234 Somewhere Road #8254 Nashville, TN 00000-0000</label>
            </div>
        </div>
    </aside>
    <main>
    <section>
        <div class="icon-menu">
            <img src="./../assets/icon-burger.png">
        </div>
        <div class="parent-container">
            <h2>Trackgenix SA</h2>
        </div>
        <div class="third-title">
            <h3>Trackgenix App</h3>
        </div>
        <div class="parent-container">
            <p>
                Lorem ipsum dolor sit accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod.
                Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat
                ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget.
                tempus euismod. Vestibulum ante ipsum primis sagittis eget. tempus euismod. Vestibulum ante ipsum 
                primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan
                eu faucibus. Integer ac pellentesque praesent.
            </p>
            <img src="./../assets/img-text1.png">
        </div>
        <div class="Functionalities">
            <h2>Functionalities</h2>
        </div>
        <div class="parent-container">
            <div class="first-father">
                <div class="first-child">
                    <span>o</span>
                    <a href="#">Hours log</a>
                </div>
                <div class="last-child">
                    <span>o</span>
                    <a href="#">Resource management</a>
                </div>
            </div>
            <div class="last-father">
                <div class="first-child">
                    <span>o</span>
                    <a href="#">Reports</a>
                </div>
                <div class="last-child">
                    <span>o</span>
                    <a href="#">Multiple roles</a>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div>
            <h2>Why use Trackgenix?</h2>
        </div>
        <div class="information-use">
            <div class="first-information">
                <h4>Productivity booster</h4>
                <p>
                    Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. 
                    Proin aliquam facilisis ante interdum.
                    Sed nulla amet lorem feugiat tempus aliquam.
                </p>
            </div>
            <div class="last-information">
                <h4>Work traceability</h4>
                <p>
                Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore.
                Proin aliquam facilisis ante interdum.
                Sed nulla amet lorem feugiat tempus aliquam.
                </p>
            </div>
        </div>
        <div class="parent-container">
            <div class="firts-information">
                <h4>Leadership and team management</h4>
                <p>
                    Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore.
                    Proin aliquam facilisis ante interdum.
                    Sed nulla amet lorem feugiat tempus aliquam.
                </p>
            </div>
            <div class="last-information">
                <h4>Decision making</h4>
                <p>
                    Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore.
                    Proin aliquam facilisis ante interdum. 
                    Sed nulla amet lorem feugiat tempus aliquam.
                </p>
            </div>
        </div>
    </section>
    <article>
        <div>
            <h2>Form</h2>
        </div>
        <form class="parent-container">
            <div class="first-registration">
                <div class="lockers">
                    <input name="name" type="text" placeholder="Name">
                </div>
                <div class="lockers">
                    <input name="email" type="email" placeholder="Email">
                </div>
                <div class="lockers">
                    <h4>Contact area:</h4>
                    <ul>
                        <li>
                            <input name="first" type="checkbox">
                            <label for="first">Human Resources</label>
                        </li>
                        <li>
                            <input name="second" type="checkbox">
                            <label for="second">Systems</label>
                        </li>
                        <li>
                            <input name="third" type="checkbox">
                            <label for="third">Commercialization</label>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="lockers">
                    <div>
                        <label for="message">Message</label>
                    </div>
                    <textarea name="message"></textarea>
                </div>
                <div class="lockers">
                    <input type="submit">
                    <input type="reset">
                </div>
            </div>
        </form>
        <div class="history">
            <h2>History</h2>
        </div>
        <div class="first-history">
            <p>
                Lorem ipsum dolor sit accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod.
                Vestibulum ante ipsum primis in faucibus vestibulum.
                Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.
                Integer ac pellentesque praesent tincidunt felis sagittis eget. 
                tempus euismod. Vestibulum ante ipsum primis sagittis eget. tempus euismod.
            </p>
            <img src="./../assets/history-img.png">
        </div>
        <div class="last-history">
            <p>
                Lorem ipsum dolor sit accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod.
                Vestibulum ante ipsum primis in faucibus vestibulum.
                Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.
                Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod.
            </p>
            <img src="./../assets/History-img2.png">
        </div>
    </article>
    </main>
    <footer>
        <div class="container-data">
            <div class="data"> 
                <ul>
                    <h4>Products</h4>
                    <li><a href="#">1.Functionalities</a></li>
                    <li><a href="#">2.Downloads</a></li>
                    <li><a href="#">3.Integrations</a></li>
                    <li><a href="#">4.Extras</a></li>
                </ul>
            </div>
            <div class="data">
                <ul>
                    <h4>Company</h4>
                    <li><a href="#">1.About us</a></li>
                    <li><a href="#">2.Clients</a></li>
                    <li><a href="#">3.Resources</a></li>
                    <li><a href="#">4.Blog</a></li>
                </ul>
            </div>
            <div class="data">
                <ul>
                    <h4>Support</h4>
                    <li><a href="#">1.Help</a></li>
                    <li><a href="#">2.Tutorials</a></li>
                    <li><a href="#">3.API</a></li>
                    <li><a href="#">4.Contact</a></li>
                </ul>
            </div>
        </div>
        <span class="logo">
            <a href="https://www.instagram.com/"><img src="./../assets/logo-instagram.png" width="30" height="30"></a>
            <a href="https://twitter.com/"><img src="./../assets/logo-twitter.png" width="30" height="30"></a>
            <a href="https://es-la.facebook.com/"><img src="./../assets/logo-twitter.png" width="30" height="30"></a>
            <a href="https://ar.linkedin.com/"><img src="./../assets/logo-LinkedIn.png" width="30" height="30"></a>
            <a href="https://github.com/"><img src="./../assets/logo-github.png" width="30" height="30"></a>
        </span>
        <br>
        <img src="./../assets/logo-radium.png" class="logo-radium" width="100" height="100">
        <div>
            <div class="derechos">
                <h6>Rosario, Argentina</h6>
            </div>
            <div class="derechos">
                <h6>Copyright © 2022 Radium Rocket. All rights reserved.</h6>
            </div>
        </div>
    </footer>
    </body>
</html>