<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./../style/reset.css">
        <link rel="stylesheet" href="./../style/signup.css">
        <script src="./../javascript/sign-up.js"></script>
        <title>Sign Up</title>
    </head>
    <body>
        <header>
            <div class="first-title">
                    <a href="./index.html"><h1>Trackgenix</h1></a>
                <img src="./../assets/logo-radium.png">
            </div>
        </header>
        <main>
            <div class="login-father">
                    <h2>Sign Up</h2>
                    <form action="" class="form-signup" onsubmit="validationSignUp()">
                        <input type="text" id="name" class="input-name" placeholder="Name">
                        <h3 class="name-red">Must only have more than 3 letters</h3>
                        <h3 class="name-green">Correct</h3>
                        <input type="text" id="lastName" class="input-lastname" placeholder="Last name">
                        <h3 class="lastname-red">Must only have more than 3 letters</h3>
                        <h3 class="lastname-green">Correct</h3>
                        <input type="number" id="dni" class="input-dni" placeholder="Dni">
                        <h3 class="dni-red">Only more than 7 numbers</h3>
                        <h3 class="dni-green">Correct</h3>
                        <input type="date" id="date" class="input-date" placeholder="Date of birth">
                        <h3 class="date-red">Unacceptable year</h3>
                        <h3 class="date-green">Correct</h3>
                        <input type="number" id="tel" class="input-tel" placeholder="Telephone">
                        <h3 class="tel-red">Must have 10 digits</h3>
                        <h3 class="tel-green">Correct</h3>
                        <input type="text" id="address" class="input-address" placeholder="Address">
                        <h3 class="address-red">5 characters with numbers or letters</h3>
                        <h3 class="address-green">Correct</h3>
                        <input type="text" id="location" class="input-location" placeholder="Location">
                        <h3 class="location-red">Must contain more than 3 letters</h3>
                        <h3 class="location-green">Correct</h3>
                        <input type="number" id="code" class="input-code" placeholder="Postal Code">
                        <h3 class="code-red">only numbers and 4 or 5 digits</h3>
                        <h3 class="code-green">Correct</h3>
                        <input type="text" id="mail" class="input-mail" placeholder="Email">
                        <h3 class="mail-red">valid email format</h3>
                        <h3 class="mail-green">Correct</h3>
                        <input type="password" id="password" class="input-password" placeholder="Password">
                        <h3 class="password-red">At least 8 characters for letters and numbers.</h3>
                        <h3 class="password-green">Correct</h3>
                        <input type="password" id="repet" class="input-repet" placeholder="Repeat password">
                        <h3 class="repet-red">Both passwords must be the same</h3>
                        <h3 class="repet-green">Correct</h3>
                        <div class="button-continue">
                            <button type="submit">
                                <h3>Create</h3>
                            </button>
                            <div class="access-login">
                                <h3>Don't have an account?</h3>
                                <a href="./login.html">Log In now</a>
                            </div>
                        </div>
                    </form>
            </div>
            <div class="emergent"></div>
        </main>
    </body>
</html>