<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./../style/reset.css">
        <link rel="stylesheet" href="./../style/signup.css">
        <script src="./../javascript/sign-up.js"></script>
        <title>Sign Up</title>
    </head>
    <body>
        <header>
            <div class="first-title">
                    <h1>Trackgenix</h1>
                <img src="./../assets/logo-radium.png">
            </div>
        </header>
        <main>
            <div class="login-father">
                    <h2>Sign Up</h2>
                    <form action="">
                        <input type="text" placeholder="Name">
                        <input type="text" placeholder="Last name">
                        <input type="number" placeholder="Dni">
                        <input type="date" placeholder="Date of birth">
                        <input type="tel" placeholder="Telephone">
                        <input type="text" placeholder="Direction">
                        <input type="text" placeholder="Location">
                        <input type="number" placeholder="Postal Code">
                        <input type="text" placeholder="Email">
                        <input type="password" placeholder="Password">
                        <input type="password" placeholder="Repeat password">
                        <div class="button-continue">
                            <button type="submit">
                                <h3>Create</h3>
                            </button>
                            <div class="access-login">
                                <h3>Don't have an account?</h3>
                                <a href="#">Sign Up now</a>
                            </div>
                        </div>
                    </form> 
            </div>
            <div class="emergent"></div>
        </main>
    </body>
</html>