header {
    box-shadow: 0px 8px 16px rgb(50 50 71 / 6%);
    width: 100%;
}

.first-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

h1 {
    margin-left: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #373867;
}

h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
}

.first-title img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
}

.login-father {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 4px 5px rgba(55, 56, 103, 0.19);
    border-radius: 30px;
    background-color: rgba(55, 56, 103, 0.4);
    width: 380px;
    height: 463px;
}

.title-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
}

.title-login h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 39px;
    color: #373867;
}

.form-login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 200px;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    height: 100px;
}

.input-mail, .input-password {
    margin-top: 5px;
    border: none;
    border-bottom: 1px solid black;
    background-color: rgba(55, 56, 103, 0);
    width: 100%;
    height: 38px;
}

::placeholder {
    color: #373867;
}

/* input-border */

.input-mail-green, .input-password-green{
    border-bottom: 1px solid lime;
}

.input-mail-red, .input-password-red {
    border-bottom: 1px solid red;
}

/* mensajes */

.email-red, .password-red {
    display: none;
    color: red;
}

.email-green, .password-green {
    display: none;
    color: lime;
}

/* */
.button-continue {
    display: flex;
    flex-direction: column;
}

.button-continue button {
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 206px;
    height: 29px;
    background-color: #AACE9B;
}

.button-continue button h3 {
    font-weight: 500;
    color: #FFFFFF;
}

a {
    text-decoration: none;
}

.check-remember {
    display: flex;
}

.check-remember h3 {
    margin-top: 2px;
    font-size: 13px;
    color: #373867;
}

.question-child {
    position: relative;
    top: 5px;
    left: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: #373867;
}

.message-correct {
    display: none;
    color: lime;
}

.message-incorrect {
    display: none;
    color: red;
}

.message-correct-activo {
    display: flex;
}

.message-incorrect-activo {
    display: flex;
}

.access-signup {
    display: flex;
}

.access-signup a {
    margin-left: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: #BBEEA6;
}

.emergent {
    display: none;
    flex-direction: column;
    position: absolute;
    bottom: 45%;
    border-radius: 30px;
    width: 380px;
    height: 162px;
    background-color: lavender;
}

.emergent div {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.routes a {
    margin-left: 10px;
}

.emergent div h3 {
    margin-left: 5px;
}

.emergent button {
    position: relative;
    left: 42%;
    width: 68px;
}

.emergent img {
    width: 50px;
    height: 50px;
}